

body{
    background-image: url(../image/hero-bg.png)  ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
.btn-primary{ 
  background-color: #4723D9  ;
}
.toastr-success{
  background-color: #4723D9 ;
}
.custom-toast {
  top: 50px !important; /* Đặt vị trí top là 50px */
}
.custom-toast {
  transition: transform 0.5s ease-in-out;
}
.wrap-text {
  word-wrap: break-word;
}

/* CSS tùy chỉnh cho class form-control */
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Hover state */
.form-control:hover {
  border-color: #b8b8b8;
}

/* Focus state */
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #6cb2eb;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(108, 178, 235, 0.25);
}

/* Disabled state */
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

/* Placeholder */
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

/* Readonly state */
.form-control[readonly] {
  background-color: transparent;
  pointer-events: none;
}
