<section id="register">
  <div class="container  ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class=" text-black" style="border-radius: 10px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-2 mx-1 mx-md-4 mt-4">Đổi Mật Khẩu</p>
                <h3 class="text-center h1 fw-bold mb-5 fs-6 fw-normal text-secondary m-0">
                  <code> Thay đổi mật khẩu </code> có độ khó cao </h3>

                <form class="mx-1 mx-md-4" name="frmChangPass">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c3">Nhập Mật Khẩu Cũ</label>
                      <input minlength="6" name="oldpassword" ng-model="oldpassword" check-old-password type="password" id="oldpassword" class="form-control" required>
                      <small ng-show="frmChangPass.oldpassword.$error.required" id="oldpassword" class="form-text text-danger">Vui lòng nhập mật khẩu cũ</small>
                      <small ng-show="frmChangPass.oldpassword.$error.customValidation" id="oldpassword" class="form-text text-danger">Mật khẩu không đúng</small>
                    </div>
                  </div>                  

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" name="password" >Mật Khẩu mới</label>
                      <input minlength="6" name="password" ng-model="studentR.password" type="password" 
                        class="form-control" required>
                      <small ng-show="frmChangPass.password.$error.required" 
                        class="form-text text-danger">Vui lòng nhập mật khẩu mới</small>
                      <small ng-show="frmChangPass.password.$error.minlength" 
                        class="form-text text-danger">Mật khẩu phải hơn 6 kí tự</small>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="repassword">Nhập Lại Mật Khẩu</label>
                      <input name="renewpassword" ng-model="renewpassword" type="password" id="renewpassword"
                        class="form-control" required re-pass>
                      <small ng-show="frmChangPass.renewpassword.$error.required" id="renewpassword1"
                        class="form-text text-danger">Vui lòng nhập lại mật khẩu</small>
                      <small
                        ng-show="frmChangPass.renewpassword.$invalid && !frmChangPass.renewpassword.$error.required"
                        id="renewpassword2" class="form-text text-danger">Mật khẩu nhập lại không khớp</small>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" ng-click="changePass()" ng-disabled="frmChangPass.$invalid" class="btn btn-primary">Cập
                      Nhật</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="image/changepassword.webp" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>