<!-- Registration 5 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="">
            <div class="row g-0">
                <div class="col-12 col-md-6 ">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Phải đạt bao nhiêu điểm trong 1 <code> bài kiểm tra?</code>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Khi số câu trả lời của của bạn đúng hơn <code>50% tổng số câu hỏi.</code>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <code>Quiz là gì?</code>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Bài Quiz là một dạng bài trắc nghiệm đánh giá, bạn có t
                                    <code>hể áp dụng để tạo những bài trắc nghiệm tính các</code> h, bài kiểm tra tự
                                    đánh giá bản thân hay bài ôn tập cho học viên. Sau khi làm xong các câu hỏi sẽ nhận
                                    được ngay lời nhận xét theo từng thang điểm mà người làm đánh giá đạt được.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Học trực tuyến: <code> Nên hay không ?</code>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i>Thực tế đã nói lên một điều rằng, cho dù công nghê thông tin phát triển, các
                                        trang thiết kế web học trực tuyến trở nên phổ biến thì các trường Đại học cũng
                                        không thể bị xóa bỏ. Xã hội vẫn cần các phương thức giáo dục truyền thống để
                                        giúp các bạn trẻ trưởng thành hơn. Tuy nhiên, xã hội cũng luôn cần các tổ chức
                                        thiết kế web dạy trực tuy
                                        <code>ến hay thiết kế phần mềm dạy học online với những khám phá và nội dung truyền đạt hiệu quả hơn. Các phương tiện trực tuyến như: mạng xã hội, các ứng dụng online ngày càng phá</code>
                                        t triển chính vì thế, học qua mạng cũng đang là một hiệu quả của thế giới thông
                                        tin điện tử toàn cầu. Những trang web học online ra đời giúp cho học viên có
                                        thêm sự tìm kiếm thông tin, tài liệu hữu ích.</i>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                    Học trực tuyến : <code> là gì vậy ?</code>
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Học trực tuyến là hình thức giáo dục dựa trên việc sử dụng công nghệ thông tin và
                                    internet để cung cấp tài liệu học tập và tương tác giữa giáo viên và học viên thông
                                    qua các ứng dụng điện tử như điện thoại, máy tính, và các trang web trường học trực
                                    tuyến. Điều này tạo ra sự thuận tiện và linh hoạt
                                    <code>t trong việc học tập, cũng như tạo ra môi trường học tập tương tác và đa dạng.</code>
                                    <strong>
                                        Việc học trực tuyến có nhiều ưu điểm như tính tiện lợi, khả năng truy cập tài
                                        liệu mọi lúc mọi nơi, và tạo điều kiện cho các học viên tương tác với nhau cũng
                                        như với giáo viên thông qua các ứng dụng trực tuyến. Tuy nhiên, học trực tuyến
                                        cũng cần sự thiết kế và triển khai hiệu quả để đảm bảo chất lượng giáo
                                        dục.</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="image/blog/blog-3.jpg" class="d-block rounded   w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="image/blog/blog-1.jpg" class="d-block rounded  w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="image/blog/blog-2.jpg" class="d-block rounded  w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="col-10 col-xl-8 py-3">
                            <img class="img-fluid rounded mb-4" loading="lazy" src="image/logo-fpt-polytechnic.png"
                                alt="BootstrapBrain Logo">
                            <hr class="border-primary-subtle mb-4">
                            <h2 class="h1 mb-4">Trang thi trắc nghiệm online miễn phí mới nhất 2024</h2>
                            <p class="lead m-0">Hãy Góp ý với chúng chúng tôi thông qua form góp ý bên trái nếu bạn cần
                                giúp đỡ và để biết thêm chi các chi tiết liên quan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>